body {
	background-color: #222222;
	color: #f7f7f7;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

.navbar {
	margin-bottom: 0px;
  padding: 0.5em;
  font-size: 1.5em;
}

.container {
  padding: 0;
}

h2 {
	text-align: center;
}

.absolute {
	display: flex;
	justify-content: center;
	top: 50%;
	width:100%;
	height: auto;
	position: absolute;
	z-index: 999;
}

#userProfile {
	margin: auto;
	background-color: #32cd32;
	font-size: 3em;
	padding: 0.5em 1em;
	border-radius: 10px;
	border: #32cd32;
}

#userProfile:hover {
	background-color: yellow;
	color: #000000;
}

#energySlider {
  height: 92vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
}

.item > img {
	width: 100vw;
	min-height: 100vh;
  object-fit: cover;
}

.carousel-caption {
	top: 2%;
	font-size: 1.5em;
	text-align: center;
  padding: 0;
  height: 100%;
  border-radius: 10px;
}

.carousel-caption > h2, .carousel-caption > h3 {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 0.5em 1em;
	border-radius: 10px;
}

.carousel-control {
  height: 88vh;
}

.black {
	top: 5%;
	left: 45%;
	color: #ffffff;
	height: 6em;
	font-size: 1em;
}

#graphSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

#commentBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	padding: 1em;
	width: 100%;
	text-align: center;
	margin-bottom: 1.5em;
	margin: auto;
	padding: 0.5em 0;
}

h3 {
	margin: auto;
}

.switchBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1em auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
	margin-left: 1em;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
  background-color: yellow;
}*/

input:focus + .slider {
  box-shadow: 0 0 1px yellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


#chart_div {
	margin: 1em auto;
	width: 95vw;
	height: 55vh;
}

#chart_div > div {
	width: 95vw;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  text-align: center;
	width: 100%;
	margin: 0.5em 0;
  color: #FFFFFF;
}

.item2 {
	/* width: 600px;  */
	/* height: 200px; */
	object-fit: contain
}


@media only screen and (max-width: 800px) {
  .navbar {
		font-size: 1em;
	}

	.container {
	  padding-left: 1em;
	}

	.carousel-caption > h2 {
		font-size: 0.8em;
	}

	.carousel-caption > h3 {
		font-size: 0.6em;
	}

	.absolute {
		top: 70%;
	}

	#userProfile {
		font-size: 2em;
	}

	.item > img {
		min-height: 95vh;
	}


	#commentBox {
		padding-top: 5em;
	}


	#commentBox > h1 {
		font-size: 1em;
	}

	#commentBox > h3, .switchBox > h3 {
		font-size: 0.8em;
	}

	.switchBox {
		margin: 2em auto;
	}

	.black {
		top: 2%;
		left: 10%;
		height: auto;
		margin: auto;
		font-size: 1.5em;
	}

	footer {
		padding-bottom: 2em;
	}
}
